*~
*.js~
*.html~
.css~
Emails_endowmemts_1029.txt
Emails_endowments_1029.csv
Emails_endowments_1101.csv
Emails_Foundations_1030.csv
Emails_Foundations_1030.txt
verification_emails_0805.csv
End_emails_test.csv
