*~
*.js~
*.html~
.css~
Emails_endowments_1029.txt
Emails_endowments_1029.csv
Emails_endowments_1101.csv
Emails_endowments_1101.txt
Emails_Foundations_1030.csv
Emails_Foundations_1030.txt
verification_emails_
End_emails_test.csv
Emails_endowments_1104.csv
Emails_endowments_1104.txt
